services:
  mongodb:
    image: mongo:8.2.3-noble
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: rahasia
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
